* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(51, 51, 51); */
}

.App {
  height: 100vh;
  font-family: "Nunito";
}

.App_Title {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.MuiFormControl-marginNormal {
  margin: 0 !important;
}
.MuiFormHelperText-root {
  font-size: 2rem !important;
}

@media (max-width: 1650px) {
  .MuiFormHelperText-root {
    font-size: 1rem !important;
  }
}

@media (max-width: 1050px) {
  .MuiFormHelperText-root {
    font-size: 0.8rem !important;
  }
}
