.AvatarText {
  display: flex;
  align-items: center;
}

.AvatarName {
  margin-left: 1rem;
  font-size: 3rem;
}

.HomeLink {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 3rem;
}

.MuiAvatar {
  height: 90px !important;
  width: 90px !important;
  font-size: 3rem !important;
}

@media (max-width: 1650px) {
  .AvatarName {
    font-size: 1.5rem;
  }
  .HomeLink {
    font-size: 1.5rem;
  }
  .MuiAvatar {
    height: 40px !important;
    width: 40px !important;
    font-size: 1rem !important;
  }
}

@media (max-width: 1150px) {
  .AvatarName {
    font-size: 1rem;
    margin-left: .5rem;
  }
  .HomeLink {
    font-size: 1rem;
  }
  .MuiAvatar {
    height: 30px !important;
    width: 30px !important;
    font-size: 1rem !important;
  }
}

@media (max-width: 550px) {
  .AvatarName {
    font-size: .8rem;
    margin-left: .5rem;
  }
  .HomeLink {
    font-size: .8rem;
  }
  .MuiAvatar {
    height: 20px !important;
    width: 20px !important;
    font-size: .75rem !important;
  }
}

@media (max-width: 425px) {
  .AvatarName {
    font-size: 0.75rem;
  }
  .HomeLink {
    font-size: 0.75rem;
  }
}


@media (max-width: 380px) {
  .AvatarName {
    font-size: 0.7rem;
  }
  .HomeLink {
    font-size: 0.7rem;
  }
}

