.Task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.316);
  width: 80%;
  margin: 0.5rem auto 0.5rem auto;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.425);
}

.Task_Title {
  /* padding: 0.75rem 0.75rem 0.75rem 1rem; */
  padding: 1.5rem;
  display: flex;
  font-size: 2.5rem;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
  width: 50vw;
  font-weight: 400;
}

.Task_Icons {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
}

.Task_Icon {
  cursor: pointer;
  font-size: 3rem !important;
  display: inline-block !important;
}

@media (max-width: 1650px) {
  .Task_Title {
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    font-size: 1.1rem;
    width: 50vw;
  }
  .Task_Icon {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 1150px) {
  .Task_Title {
    font-size: 0.9rem;
    width: 50vw;
  }
  .Task_Icon {
    font-size: 1rem !important;
  }
}

@media (max-width: 550px) {
  .Task_Title {
    font-size: 0.75rem;
    width: 45vw;
    padding: 0.55rem 0.7rem 0.55rem 1rem;
  }
  .Task_Icons {
    width: 17.5vw;
  }
  .Task_Icon {
    font-size: 0.75rem !important;
  }
}

@media (max-width: 425px) {
  .Task_Icons {
    width: 20vw;
  }
  .Task_Icon {
    font-size: 0.7rem !important;
  }
  .Task_Title {
    font-size: 0.7rem;
  }
}
