.Tasks {
  height: 70vh;
  margin-top: 2rem;
}

.TasksArea {
  height: 85%;
}

.Day {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 1rem 0.75rem 1rem;
  border-bottom: 1px solid black;
  font-size: 2.75rem;
}

.Task_Calendar {
  display: flex;
  justify-content: space-between;
  width: 4.5rem;
}

.Task_CalendarIcon {
  font-size: 4rem !important;
  margin-left: 1rem !important;
  display: inline-block !important;
}

@media (max-width: 2000px) {
  .Tasks {
    height: 65vh;
  }
  .TasksArea {
    height: 95%;
  }
  .Day {
    padding: 1rem 1rem 0.75rem 1rem;
    font-size: 1.3rem;
  }
  
  .Task_CalendarIcon {
    font-size: 1.75rem !important;
  }
}

@media (max-width: 1150px) {
  .TasksArea {
    height: 95%;
  }
  .Day {
    font-size: 1.1rem;
  }
  .Task_CalendarIcon {
    font-size: 1.4rem !important;
    margin-left: .5rem !important;
  }
}

@media (max-width: 550px) {
  .Day {
    font-size: .8rem;
  }
  .Task_Calendar {
    width: 3rem;
  }
  .Task_CalendarIcon {
    font-size: 1.2rem !important;
    margin-left: .25rem !important;
  }
}

@media (max-width: 425px) {
  .Day {
    font-size: 0.7rem;
  }
  .Task_CalendarIcon {
    font-size: .9rem !important;
  }
}
